@charset "UTF-8";
@media screen and (min-width:400px) and (max-width:768px){
    .imagen1{
        transform: translate(130px,-100px);
        display: block;
        width: 20px;
        height: 15px;
    } 
    body{
        background-position: bottom 10px left 20% ;
    }      
}
